@use '../var';
@use '../mixin';

.banner {
    font-family: Chiller;
    text-align: center;
    // TODO opacité de l'image
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 33%, rgba(0, 0, 0, 0.4) 66%, rgba(0, 0, 0, 0) 100%),
    url('/src/assets/img/banner2.png');
    background-size: cover;
    
    background-position: center center;



    &__group {
        margin: 0 0 1rem 0;
        letter-spacing: 0.5rem;
        color: var.$color-main;
        text-shadow: 0 0 5px #FFF,
        0 0 10px #FFF,
        0 0 15px #FFF,
        0 0 20px #49ff18,
        0 0 30px #49FF18,
        0 0 40px #49FF18,
        0 0 55px #49FF18,
        0 0 75px #49ff18,
        0 0 90px #49ff18,
        0 0 110px #49ff18,
        0 0 130px #49ff18;
    }

    &__title {
        padding: 1rem;
        font-size: 3em;
        font-weight: bold;
        
    }

    &__sub {
        font-size: 1.5em;
        font-weight: bold;
    }
}