@use '../var';
@use '../mixin';
@use 'sass:color';

.card {
    margin: 1rem auto;
    @include mixin.box;
    // border: 1px solid black;
    // border-radius: 10px;
    background-color: #444;
    display: none; //TODO remettre
    // box-shadow: -2px 0px 10px 5px #000000,
    //     2px 0px 10px 5px #000000,
    //     0px 2px 10px 5px #000000,
    //     0px -2px 10px 5px #000000;
    overflow: hidden;
    /* permet d'appliquer le border-radius sur l'image à l'intérieur */

    &:hover {
        scale: 1.1;
        box-shadow: -4px 0px 50px 5px #000000,
            4px 0px 50px 5px #000000,
            0px 4px 50px 5px #000000,
            0px -4px 50px 5px #000000;
    }

    @include mixin.medium {
        width: calc(50% - 2rem);
    }

    @include mixin.big {
        width: calc(33% - 2rem);
    }

    // }

    &--active {
        display: block;

        // Pour gérer l'ordre d'affichage avec plusieurs card à afficher
        &--left {
            order: 1;
        }

        &--center {
            order: 2;
        }

        &--right {
            order: 3;
        }
    }

    &__container {
        margin: auto;
        width: 100%;
        position: relative;

        @include mixin.medium {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__desc {
        font-size: 0.8rem;
        color: var.$color-main;
        text-align: center;
        background: var.$background-color-button;
        margin-top: -0.5em;
    }

    &__btn {
        position: absolute;
        top: 45%;
        padding: 10px;
        border: none;
        cursor: pointer;
        color: black;
        font-size: 2em;

        &--left {
            left: 0px;
        }

        &--right {
            right: 0px;
        }

    }

}