@use '../var';
@use '../mixin';
@use 'sass:color';

.card {
    @include mixin.box;
    margin: 1rem auto;
    display: none;
    overflow: hidden; // pour arrondir les border de la card

    &:hover {
        @include mixin.boxHover
    }

    @include mixin.medium {
        width: calc(50% - 2rem);
    }

    @include mixin.big {
        width: calc(33% - 2rem);
    }

    &--active {
        display: block;

        // Pour gérer l'ordre d'affichage avec plusieurs card à afficher
        &--left {
            order: 1;
        }

        &--center {
            order: 2;
        }

        &--right {
            order: 3;
        }
    }

    &__container {
        position: relative;
        width: 100%;
        margin: auto;

        @include mixin.medium {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__desc {
        font-size: 1em;
        color: var.$color-main;
        text-align: center;
        background: var.$background-color-button;

        @include mixin.medium {
            font-size: 1.2em;
        }
    }

    &__btn {
        position: absolute;
        top: 40%;
        @include mixin.box;
        padding: 10px;
        border: none;
        cursor: pointer;
        font-size: 2em;
        color: black;
        background: var.$background-color-button;

        &:hover {
        @include mixin.boxHover;
        }

        &--left {
            left: 0px;
        }

        &--right {
            right: 0px;
        }
    }
}