@use '../var';
@use '../mixin';
@use 'sass:color';

.main-nav {
    width: 90%;
    margin: 0rem auto;
    
    &__list {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    &__item {
        margin: 0.5rem 1rem;
        display: inline-block;
        color: var.$color-main;
        padding: 0.5rem 0.5rem;
        background: var.$background-color-button;
        // box-shadow: -2px 0px 10px 5px #000000,
        // 2px 0px 10px 5px #000000,
        // 0px 2px 10px 5px #000000,
        // 0px -2px 10px 5px #000000;
        @include mixin.box;

        &:hover {
            scale: 1.1;
            box-shadow: -4px 0px 50px 5px #000000,
                4px 0px 50px 5px #000000,
                0px 4px 50px 5px #000000,
                0px -4px 50px 5px #000000;
        }
    }
}