@use '../var';
@use '../mixin';
@use 'sass:color';

.segment {
    width: 90%;
    margin: 1rem auto;

    &__title {
        display: flex;
        @include mixin.box;
        padding: 0.5em;
        margin: 1.5em auto;
        font-family: Chiller;
        font-size: 1em;
        color: var.$color-main;
        justify-content: center;
        background: var.$background-color-button;

        @include mixin.medium {
            font-size: 1.25em;
        }
    }
}