@use '../var';

.banner {
    font-family: Chiller;
    text-align: center;
    background-image: url(https://via.placeholder.com/1980x300);
    

    &__group {
        margin: 1rem 0;
        letter-spacing: 1rem;
    }

    &__title {
        background-color: green;
        font-size: 2rem;
        font-weight: bold;
        color: var.$color-main;
        
    }

    &__sub {
        background-color: red;
        font-size: 1.5rem;
        font-weight: bold;
        color: var.$color-main;
    }
}