.card {
    margin: 1rem auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #444;
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    overflow: hidden;  /* permet d'appliquer le border-radius sur l'image à l'intérieur */

    &__container {
        display: grid;
        margin: auto;
        
    }

    &__desc {
        font-size: 0.8rem;
        color: #2ECB32;
        text-align: center;


    }
}