@use './var';
@use 'sass:color';

* {
    box-sizing: border-box;
}

body {
    line-height: 1.4;
    font-family: serif;
    background: linear-gradient(to bottom, var.$background-color, color.scale(var.$background-color, $lightness: -50%) 33%, color.scale(var.$background-color, $lightness: -50%) 66%, var.$background-color);
    color: rgba(200, 200, 200, 0.8);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

iframe {
    max-width: 100%;
}