@mixin medium {
    @media screen and (min-width: 50rem) {
        @content;
    }
}

@mixin big {
    @media screen and (min-width: 90rem) {
        @content;
    }
}


@mixin box{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: -2px 0px 10px 5px #000000,
    2px 0px 10px 5px #000000,
    0px 2px 10px 5px #000000,
    0px -2px 10px 5px #000000;
}